
{% extends "layout.njk" %}


{% block head %}

<title>Sobre - Cavalcante Odontologia e Estética</title>

{% endblock %}


{% block content %}

<div id = "wrapper">
    <img src="{{ about.imagem }}" alt="Cavalcante Odontologia">
    <h2>{{ about.propaganda }}</h2>
    <p>{{ about.descrição }}</p>
    <ul>Especialidades:
        <li>{{ about.especialidades[0] }}</li>
        <li>{{ about.especialidades[1] }}</li>
        <li>{{ about.especialidades[2] }}</li>
        <li>{{ about.especialidades[3] }}</li>
        <li>{{ about.especialidades[4] }}</li>
        <li>{{ about.especialidades[5] }}</li>
    </ul>        
</div>

<div class="links">
    {% for link in about.links %}
        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    {% endfor %}
</div>

{% endblock %}



